@import 'variables';
@import 'mixin';
/*============================================================================================*/
/* CART PAGE */
/*============================================================================================*/
.table.cart-list {
  margin: 0;
}

.table.cart-list th,
.table.options_cart th {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: normal;
  color: $heading-color;
  border: 0;
  padding-top: 0;
}

.table.cart-list th {
  &:nth-child(1) {
    width: 70%;
  }
  &:nth-child(2) {
    width: 15%;
  }
  &:nth-child(3) {
    width: 20%;
  }
  &:nth-child(4) {
    width: 5%;
  }
}

.table.cart-list td {
  vertical-align: middle;
  border: 0;
  strong {
    font-weight: 500;
  }
  &.options button {
    display: inline-block;
    margin-right: 10px;
    i {
      @include fontSize(18px);
    }
  }
  .numbers-row {
    background-color: #fff;
  }
}
.table.cart-list.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, .045);
}

@include mobile {
  .table.cart-list,
  .table.cart-list thead,
  .table.cart-list tbody,
  .table.cart-list th,
  .table.cart-list td,
  .table.cart-list tr {
    display: block;
    border: 0;
  }
  .table.cart-list thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .table.cart-list tr {
    border: 1px solid #ddd;
    @include tablet {
      margin-bottom: 20px;
    }
  }
  .table.cart-list td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 35%;
    &:before {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }
  }
  .table.cart-list td {
    &:nth-of-type(1):before, &:nth-of-type(2):before, &:nth-of-type(3):before, &:nth-of-type(4):before, &:nth-of-type(5):before {
      font-weight: 700;
      color: #111;
    }
  }
  .table.cart-list td:nth-of-type(1):before {
    content: "Product";
  }
  .table.cart-list td:nth-of-type(2):before {
    content: "Price";
  }
  .table.cart-list td:nth-of-type(3):before {
    content: "Quantity";
  }
  .table.cart-list td:nth-of-type(4):before {
    content: "Subtotal";
  }
  .table.cart-list td:nth-of-type(5):before {
    content: "Edit";
  }
}

.thumb_cart {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 5px;
  box-sizing: content-box;
  img {
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform (translate(-50%, -50%) scale(1.1));
  }
  @include tablet {
    display: none;
  }
}

.item_cart {
  float: left;
  width: 65%;
  margin: 25px 0 0 10px;
  line-height: 1.3;
  font-weight: 500;
  @include tablet {
    margin: 5px 0 0 0;
    width: 100%;
    float: none;
  }
}

.cart_actions {
  .apply-coupon {
    .form-control {
      margin-right: 10px;
      height: 40px;
      @include extra-small-mobile {
        margin: 0 0 5px 0;
      }
    }
  }
  .btn_1 {
    @include extra-small-mobile {
      width: 100%;
      margin-bottom: 15px;
    }

  }
}

.box_cart {
  background-color: #fff;
  padding: 30px 0;
  text-align: right;
  @include mobile {
    padding: 30px 0;
  }
  h5 {
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
  }
  small {
    text-align: center;
    line-height: 1.1;
    display: block;
    margin-top: 10px;
  }
  ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 500;
    @include fontSize(16px);
    li {
      span {
        float: left;
      }
      &:last-child {
        margin-top: 10px;
        text-transform: uppercase;
        font-weight: bold;
        color: $color-7;
        @include fontSize(21px);
      }
    }
  }
}
