@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap';

.aa-input {
    width: 100%;
}

.aa-hint {
    color: #e4e4e4;
}

.algolia-autocomplete {
    width: 100%;
}

.aa-dropdown-menu {
    background-color: #fff;
    border: 2px solid rgba(228, 228, 228, 0.6);
    border-top-width: 1px;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    margin-top: 10px;
    box-shadow: 4px 4px 0 rgba(241, 241, 241, 0.35);
    font-size: 12px;
    border-radius: 4px;
    box-sizing: border-box;
    word-wrap: break-word;
}

.aa-suggestion {
    padding: 12px;
    border-top: 1px solid rgba(228, 228, 228, 0.6);
    cursor: pointer;
    -webkit-transition: .2s;
    transition: .2s;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex; */
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.aa-suggestion:hover, .aa-suggestion.aa-cursor {
    background-color: rgba(241, 241, 241, 0.65);
}

.aa-suggestion > span:first-child {
    color: #333;
}

.aa-suggestion > span:last-child {
    text-transform: uppercase;
    color: #a9a9a9;
}

.aa-suggestion span em {
    font-weight: 700;
    font-style: normal;
    background-color: rgba(58, 150, 207, 0.3);
    padding: 2px 0 2px 2px;
}

.algolia-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.algolia-thumb {
    max-width: 35px;
    max-height: 35px;
}

.algolia-details {
    color: #919191;
}

.ais-hits--item em {
    background-color: rgba(58, 150, 207, 0.3);
}

.heading-footer {
    background-size: cover;
    height: 175px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    border-radius: 0px;
}

.panel-profile-img {
    max-width: 250px;
    margin-top: -160px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 0%;
}

/*-------- Banner Section --------*/
.banner-area {
    background: url(../img/banners/bg-white.jpg) center no-repeat;
    background-size: 100%;
    position: relative;
    height: 90vh;
}
@media (max-width: 768px) {
    .banner-area{
        background-size:  cover;
        position: relative;
        height: 50vh;
    }
    .banner-area .fullscreen {
        height: 650px !important;
    }
}
.banner-area .banner-content {
    padding-left: 10px;
}
@media (max-width: 991px) {
    .banner-area .banner-content {
        padding-left: 0;
    }
}
.banner-area .banner-content h1 {
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    line-height: 66px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;
}

.banner-area .banner-content h4 {
    text-align: left;
}

@media (max-width: 767px) {
    .banner-area .banner-content h1 {
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }
    .banner-area .banner-content h4 {
        text-align: center;
    }
}

.banner-area .banner-content p {
    margin: 0;
}

@media (max-width: 991px) {
    .banner-area .banner-img {
        display: none;
    }
}

.btn-content{
    margin-top: 30px;
}

.btn-primary {
    color: #fff;
    background-color: #222;
    box-shadow: 0 0 20px #eee;
    border: 1px solid;
    padding: 0 30px;
    line-height: 50px;
    border-radius: 50px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn-primary:hover{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(226,37,37,1) 0%, rgba(211,49,49,1) 82.8% );
}

.input-custom{
    border: 1.5px solid #fff;
    width: 44%;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .btn-primary {
        margin: 0 auto;
    }
    .input-custom{
        width: 100%;
    }
}

/*-------- Banner Grid Section --------*/
.no-padding{
    padding: 0;
}
.section_gap {
    padding: 70px 0;
}

@media (max-width:991px){
    .section_gap{
        padding: 10px 0;
    }
    
}

.section_gap_top {
    padding-top: 100px;
    
}
@media (max-width: 991px) {
    .section_gap_top{
        padding-top: 80px;
    }
}

.gray-bg{
    background: #f9f9ff;
}

.features-inner {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
}

.single-features {
    text-align: center;
    border-right: 1px solid #eeeeee;
}

.single-features .f-icon {
    margin-bottom: 20px;
}

.single-features h6 {
    font-size: 16px;
    margin-bottom: 0;
}

.single-features p {
    margin-bottom: 0;
}

.single-features a {
    color: #444;
}

.single-features a:hover {
    color: #e53637;
}

/*Single Catagory*/

.single_catagory_area {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 250px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

.single_catagory_area:after {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
}

.bg-img-category {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.single_catagory_area .catagory-content a {
    display: block;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.single_catagory_area .catagory-content a:hover {
    color: #e53637;
}

.zoom {
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
transform: scale(1.2);
}

/*top selling*/
.product__item:hover .product__item__pic .product__hover {
	right: 20px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

.product__item:hover .product__item__text h6 {
	opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
	position: absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	color: #ffffff;
	background: #111111;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: #111111;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text a {
    font-size: 16px;
	color: #e53637;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
	color: #111111;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width:auto;
    max-width: 500px;
    margin: 20px auto;
}

.menu-large {
    position: static !important;
}

.menu-large .megamenu {
padding: 20px;
width: 100%;
max-width: 1140px;
left: 50%;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
margin-top: -1px;
}

.menu-large a.nav-link {
padding: 7px !important;
padding-left: 0 !important;
}

/*css menu - iniciar sesion*/
.my_account {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 1.8rem 0 0;
}

.account_titlem {
    font-size: 1rem;
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    font-weight: 700;
}

.account_divbuttons {
    width: 100%;
    padding: 0px 15px 0px 15px;
    margin-top: -20px;
}

.account_button {
    width: 100%;
    max-width: none;
    min-height: 3rem;
    outline: none;
    border-radius: .3rem;
    font-size: 15px;
}

.account_button1 {
    background-color: #222;
    color: #fff;
}

.account_button2 {
    background-color: transparent;
    color: #222;
    border: .1rem solid #222;
    margin-top: 15px;
}

/*Slider Banners Dia de Muertos*/
.slider-area{
    position: relative;
    height: 85vh;
    margin-top: 5px;
}

@media (max-width: 768px) {
    #sliderDesktop{
        display: none;
    }
    
    #sliderMobile{
        display: block;
    }

    .fs-slide-bg{
        background-size: 100% !important;
    }
    .slider-area {
        height: 580px;
    }
    .single-features {
        padding: 20px;
    }
}

@media (min-width: 769px) {
    #sliderDesktop{
        display: block;
    }

    #sliderMobile{
        display: none;
    }

    .fs-slide-bg{
        background-size: cover !important;
    }

    .slider-area {
        height: 85vh;
    }
}